* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Open Sans", serif;
  --body-md: 600 1rem/auto var(--font-family);
  --body-sm: 600 0.875rem/auto var(--font-family);
  --body-xs: 600 0.75rem/auto var(--font-family);

  --font-family: "Baloo 2", serif;
  --heading-md: 700 2.8rem/auto var(--font-family);
  --heading-sm: 700 1.8rem/auto var(--font-family);

  --font-family: "Leckerli One", serif;
  --logo: 400 4rem auto var(--font-family);

  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 0.875rem/1.4 var(--font-family);

  --brand-light:#59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;
}

body {
  overflow: hidden;

  font: var(--text);
}