#app {
  display: grid;
  grid-template-columns: 32.80% 67.20%;

  height: 100vh;
  overflow: hidden;
}

main {
  overflow: auto;
  padding: 5rem;

  & .main-container{
    max-width: 51.25rem;
    margin: auto;
  }
}

aside {
  background-color: blue;
  padding: 5rem;

  & .aside-container {
    max-width: 25rem;
  }
}