form {
  margin-top: .5rem;
}

#shoppingForm {
  display: flex;
  justify-items: center;
  gap: 1rem;

  & input{
    all: unset; 
  }

  input, 
  textarea, 
  select {
    appearance: none;

    border: 2px solid #D1D5DB;
    border-radius: 10px;

    background: white;
    
    padding: 11px;
    width: 451px;
    
  }

  input:hover {
    border: 2px solid #B9C2D0;
  }

  #item:focus { 
    border: 2px solid #A52C6B;
  }

  .add {
    width: 161px;
  }
}






