* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter", serif;
}

.container {
  max-width: 1366px;
  margin: auto;
  background: #F4F5FB;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#list {
  display: flex;
  flex-direction: column;

  .title {
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .main {
    padding-left: 25%;
    margin-top: 5rem;

    h2 {
      padding-block: 16px 44px;
    }
  }
}