#shoppingList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-block: 12px;

  margin-top: 40px;
  max-width: 680px;

  align-items: center;
}

li {
  display: flex;
  justify-content: space-between;
  /* Espaço entre o texto e o botão */
  align-items: center;

  border: 2px solid none;
  border-radius: 12px;
  background: white url(../img/icons/checkbox-default.svg) no-repeat left center;
  background-size: 20px 20px;
  background-position: 12px center;


  width: 627px;
  height: 49px;
  padding: 11px;

  font-weight: 500;
  cursor: pointer;

}

li:hover {
  background: white url(../img/icons/checkbox-hover.svg) no-repeat left center;
  background-size: 20px 20px;
  background-position: 12px center;
}

li.checked {
  background: white url(../img/icons/checkbox-checked.svg) no-repeat left center;
  background-size: 20px 20px;
  background-position: 12px center;
}

span {
  padding-left: 40px;

}

li > button {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent url('../img/icons/delete.svg') no-repeat center center;
  background-size: contain;
  cursor: pointer;
}

li > button:hover {
  background-color: transparent;
  background-size: 36px;
  border: none;
}